@{
    ViewData["Title"] = "Home Page";
    string nameAndSurname = "Talal Salman Zafeer";
    string headTag = "My First MVC Web Application";
}

<div class="text-center ">
    <h5 class="display-2">Welcome @nameAndSurname</h5>
    <p>@headTag.</p>
</div>
