@{
    ViewData["Title"] = "Home Page";
    string nameAndSurname = "Talal Salman Zafeer";
    string headTag = "My First MVC Web Application";
}

<div class="text-center ">
    <h1>Welcome @nameAndSurname</h1>
    <p>@headTag.</p>
</div>
